<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Blaster - Blood and plasma donation during a disaster</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <h4 class="header text-center"> {{instituteName}} </h4>
  <div class="row">
    <div class="col-4 offset-1">
      <div class="mt-4">
        <h4>Donation Requests:</h4>
        <table class="table table-dark table-hover table-bordered" id="donationsTable"
          *ngIf="this.donors !== undefined">
          <caption>List of donations that need action</caption>
          <thead>
            <tr>
              <th id="donorName">Donor Name</th>
              <th id="bloodGroup">Blood Group</th>
              <th id="requestStatus">Donation status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let donor of donors | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
              (click)="selectDonor(donor)">
              <td>{{donor.donorName}}</td>
              <td>{{donor.bloodGroup}}</td>
              <td>{{donor.donationRequest.status}}</td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination [collectionSize]="noOfDonations" [(page)]="page" [maxSize]="5" [rotate]="true"
          [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
    <div class="col-6 mt-4">
      <h4>Request Details:</h4>
      <div *ngIf="showDetails">
        <div class="card">
          <div class="card-header bg-primary text-center">
            Donor Details & History
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2"> <label>Donor Id:</label> </div>
              <div class="col-4"> <span>{{selectedDonor.donorId}}</span> </div>
              <div class="col-2"> <label>Donor Name: </label> </div>
              <div class="col-4"> <span>{{selectedDonor.donorName}}</span> </div>
            </div>
            <div class="row">
              <div class="col-2"> <label>Blood Group: </label> </div>
              <div class="col-4"> <span>{{selectedDonor.bloodGroup}}</span> </div>
              <div class="col-2"> <label>Donation Date: </label> </div>
              <div class="col-4"> <span>{{selectedDonor.donationRequest.donationDate}}</span> </div>
            </div>
            <div class="row">
              <div class="col-2"> <label>Donor Status:</label> </div>
              <div class="col-4"> <span>{{selectedDonor.donorStatus}}</span> </div>
              <div class="col-2"> <label>Mobile Number: </label> </div>
              <div class="col-4"> <span>{{selectedDonor.donorMobileNumber}}</span> </div>
            </div>
            <div class="row">
              <div class="col-2"> <label>Email Id: </label> </div>
              <div class="col-4"> <span>{{selectedDonor.donorEmail}}</span> </div>
              <div class="col-2"> <label>Donation Status: </label></div>
              <div class="col-4"> <span>{{selectedDonor.donationRequest.status}}</span></div>
            </div>
          </div>
          <div class="card-footer bg-primary">
            <div class="float-right">
              <button class="btn btn-success mr-2" (click)="open(collectModal)">Collect</button>
              <button class="btn btn-warning" (click)="reject()">Reject</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #collectModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Collect Blood</h4>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <label>
        BagId:
        <input type="text" [formControl]="bagId" required>
        <span *ngIf="showRequired" class="text-warning">
          Bag id is required.
        </span>
      </label>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    </div>
  </ng-template>
</div>
