<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-5 offset-1">
      <div class="card bg-dark" style="color: white; width: auto;">
        <div class="card-header">
          <h4 class="tableHeaderFont">Add Blood Bag:</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="addBloodForm">
            <div class="form-row">
              <div class="form-group col-4">
                <label for="bagId">Bag Id:&nbsp;</label>
                <input
                  id="bagId"
                  class="form-control"
                  type="text"
                  formControlName="bagId"
                />
              </div>
              <div class="form-group col-4">
                <label for="donorId">Donor Id:&nbsp;</label>
                <input
                  id="donorId"
                  class="form-control"
                  type="text"
                  formControlName="donorId"
                />
              </div>
              <div class="form-group col-4">
                <label for="bloodGroup">Blood Group:&nbsp;</label>
                <select
                  id="bloodGroup"
                  class="form-control"
                  formControlName="bloodGroup"
                >
                  <option *ngFor="let group of bloodGroups" [value]="group">{{
                    group
                  }}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-4">
                <label for="collectionDate">Collection Date:&nbsp;</label>
                <input
                  id="collectionDate"
                  class="form-control"
                  type="date"
                  formControlName="collectionDate"
                />
              </div>
              <div class="form-group col-4">
                <label for="collectedAt">Collection Institute:&nbsp;</label>
                <input
                  id="collectedAt"
                  class="form-control"
                  type="text"
                  formControlName="collectedAt"
                />
              </div>
              <div class="form-group col-4">
                <label for="bagStatus">Bag Status:&nbsp;</label>
                <select
                  id="bagStatus"
                  class="form-control"
                  formControlName="bagStatus"
                >
                  <option
                    *ngFor="let status of bagStatusList"
                    [value]="status"
                    >{{ status }}</option
                  >
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="float-right">
            <button
              class="btn btn-primary"
              type="button"
              (click)="addBloodBag()"
            >
              Add Blood Bag
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
